{% extends 'base.html' %}

{% block content %}
    <div class="home-div">
        <img src="{{ url_for('static', filename='images/home.jpg') }}" class="home-img">
        <div class="info-div">
            {% if g.user %}
                <h1>Bem-vindo(a), {{ g.user.username.capitalize() }}, </h1>
            {% else %}
                <h1>Faça login, Visitante </h1>
            {% endif %}
            <h4> Explore seus conhecimentos sobre
                os mais diversos assuntos!
            </h4>
            <a href="{{ url_for('question', id=1)}}">Faça o teste</a>
        </div>
    </div>
{% endblock %}
