{% extends 'base.html' %}

{% block content %}
    <div class="ques-div">
        <form method="post" novalidate>
            <h2 class="qnum">Pergunta {{ id }}</h2>
            <div class="dotted-spaced"></div>
            <hr>
            <!-- Exibe a pergunta -->
            <h1 class="ques-heading">{{ question|safe }}</h1>
            <div class="options-div">
                <!-- Renderiza as opções -->
                {{ form.options(class="list-unstyled") }}
            </div>
            <!-- Botão de envio -->
            {{ form.submit(class="btn btn-primary btn-lg sub-btn") }}
        </form>
    </div>
{% endblock %}
