{% extends 'base.html' %}

{% block content %}
    <div class="score-main">
            <div class="highest-score">
                <div>Maior Pontuação: 60 por </div> <div class="high-score-name">Menino Ney</div>
            </div>
            <h1 class="score-head">Sua Pontuação</h1>
            <div class="score-circle">
                <h1>{{ g.user.marks }}</h1>
            </div>
            <h1 class="congrats-cls">Parabéns! <i class="fas fa-glass-cheers"></i></h1>
            <div class="redirect-links">
                <a href="{{ url_for('home') }}"><i class='fas fa-angle-left'></i> Início</a>
                <a href="{{ url_for('retake_test') }}" class="btn btn-primary">Refazer Teste</a>
            </div>
    </div>
    <!-- <p>Sua Pontuação Final é {{ g.user.marks }}. Parabéns <3</p> -->
{% endblock %}
